@import '../../styles/helpers';

.long-list {
  overflow: auto;
  display: flex;

  @include no-scrollbar();

  &__item {
    min-width: 150px;
    width: 150px;
    height: 80px;
    border-radius: 8px;
    background-color: #d3d3d3;
    margin: 8px 16px;
  }
}